# Configuración de la base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=qtrack_db

# Configuración adicional de la aplicación
NODE_ENV=development
NEXTAUTH_SECRET=K9mX7pQ2wE5tR8nB3vC6yF1jL4aS9dG2uH8kM5xZ7qW0
NEXTAUTH_URL=http://localhost:3000

